body {
    padding-top: 50px;
}

/*.kost {
    padding-top: 10%;
}*/
.login-register {
    text-align: center;
}
.heading-kost {
    margin-left: 2%;
    margin-bottom: 20px;
}


/* Member style */
.version-title {
	font-size: 14px;
	padding-top: 10px;
	font-weight: bold;
	font-family: arial;
}
.content-body {
	padding-top: 20px;
}
.has-error {
	color: red;
}

/* For footer */
.footer {
	background: #76b8d2;
	padding: 5px;
	margin-top: 5%;
	color: #333;
}

/* Custom style for navigation in frontend 8 */
	/* For change nav background color */
	.navbar-default {
	    background-color: #42a4e6;
	    border-color: #e7e7e7;
	}

	/* For change font color of navbar-brand */
	.navbar-default .navbar-brand {
	    color: white;
	}

	/* For change color at right navbar menu */
	.navbar-default .navbar-nav>li>a {
	    color: white;
	    font-size: 15px;
	}

	.list-fasilitas {
		display: inline;
		list-style-type: none;
		padding-right: 10px;
	}
/* End custom navigation */


/* Jumbotron custom */
	.jumbotron {
	    background-color: white;
	}
/* End jumbotron custom */


/* Panel custom */
	/* Change panel heading*/
	.panel-default>.panel-heading {
		text-align: center;
	    color: #333;
	    background-color: #82caf5;
	    border-color: #ddd;
	}
	.panel-footer {
	    background-color: #fdfdfd;
	    color: #333;
	}
/* End panel custom */

/* Custom panel kost (frontend) */
	.panel-kost:hover {
		text-decoration: none;
		font-weight: bold;
	}
/* End custom panel kost (frontend) */

/* Breadcumb */
	.breadcumb-section {
		padding-top: 10px;
	}
/* End breadcumb */


/* For setting up slider */
	
/* End setup slider */

/* For detail kost */
	.heading-info-kost {
		text-align: center;
		font-weight: bold;
	}
	.body-info-kost .caption{
		font-weight: bold;
	}
/* End detail kost */

/* For user page */

	.beta-version {
		font-size: 12px;
	}
	.user-kost {
		margin-left: 2%;
		margin-bottom: 4%;
		
	}
	.panel-heading-kost-show {
		text-align: left !important;
		font-weight: bold;
	}
	.button-heading-kost-show {
		float: right;
		margin-top: -7px;
	}

/* End user page */

.promosi-kost-text {
	font-weight: bold;
	font-size: 18px !important;
}
.cara-promosi {
	font-size: 18px;
	line-height: 32px;
	margin-bottom: 95px;
}

/*.checkbox-fasilitas input[type="checkbox"]{
	display: none;
}*/
